/* BASIC CSS */

body {
	font-family: 'Lucida Sans Unicode', 'Lucida Grande', Lucida, sans-serif;
	color: #222;
	font-size: 16px;
	background:  #888;
	padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0 0 1em;
	font-weight: bold;
}
h1 {
	font-size: 2em;
}
h2 {
	font-size: 1.8em;
}
h3 {
	font-size: 1.6em;
}
h4 {
	font-size: 1.4em;
}
h5 {
	font-size: 1em;
}
h6 {
	font-size: .9em;
}

.button {
	display: inline-block;
	height: 20px;
	line-height: 20px;
	background: #efefef;
	border: 1px solid #111;
	border-radius: 5px;
	font-weight: bold;
	font-style: normal;
	text-decoration: none;
	cursor: pointer;
	color: inherit;
}

.nav-title {
	font-family: Papyrus, serif;
	color: darkgreen;
	font-size: 3em;
}

.menu {
	float: left;
	width: 100px;
	height: auto;
}
.menu .button {
	display: block;
	width: 100px;
}
